GEMINI_API_KEY=
PHOTON_ENABLED=false
PHOTON_PROJECT_ID=
PHOTON_PROJECT_SECRET=
PHOTON_IMESSAGE_TOKEN=
PHOTON_IMESSAGE_ADDRESS=
FALKORDB_ENABLED=false
FALKORDB_HOST=localhost
FALKORDB_PORT=6379
FALKORDB_PASSWORD=
FALKORDB_GRAPH=haven
CONTACT_1_NAME=Priya
CONTACT_1_PHONE=+15555550101
CONTACT_2_NAME=Jordan
CONTACT_2_PHONE=+15555550102
NEXT_PUBLIC_DEMO_PIN=2580
NEXT_PUBLIC_PASSPHRASE=weather looks bad
